POSTGRES_PASSWORD=postgres
ACCOUNT_SERVICE_DB_USER=account-service
ACCOUNT_SERVICE_DB_PASSWORD=account-service-password
ROUTER_DB_USER=router
ROUTER_DB_PASSWORD=router-password
# Set to true to skip email sending and print OTP to logs instead (RESEND_API_KEY not required)
X_DEBUG=true
RESEND_API_KEY=
# Local-only key pair; change both together
DESKCONN_ACCOUNT_PRIVATE_KEY=11d1f3c03e779bd33a4757dbb390415418dc89d49c990a90a6980fe8ea4e1d9f
DESKCONN_ACCOUNT_SERVICE_PUBLIC_KEY=5d8fefe8116b43c1d0bbbdf2ba19f389eb1af2b9ed32a32bdb39965c335127e1
DESKCONN_ACCOUNT_AUTHID=deskconn-account-service
